{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "plugin:react/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "space-before-function-paren": "off"
  },
  "globals": {
    "React": "writable",
    "faceapi": "writable"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "16.13.1"
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      { "property": "freeze", "object": "Object" },
      { "property": "myFavoriteWrapper" }
    ],
    "linkComponents": [
      // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
      "Hyperlink",
      { "name": "Link", "linkAttribute": "to" }
    ]
  }
}
